@keyframes fadeIn {
  from {
    right: -5px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  from {
    left: -15px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}


@keyframes fadeInVertical {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}



@keyframes shift-right{
  from{
    left:900px;
  
  }
  to{
    left:2000px;
  }
}