@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@-webkit-keyframes fadeIn {
  from {
    right: -5px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    right: -5px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    left: -15px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    left: -15px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInVertical {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes fadeInVertical {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

html,
body,
#root,
.App {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Bree Serif", serif;
}

.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  background-image: url("../images/Authentication.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.authentication .auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 720px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 50%;
  max-width: 860px;
  height: 550px;
}

.authentication .auth-container #left-panel {
  -webkit-box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
          box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
  display: none;
  background-image: url("../images/AuthCard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  width: 40%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.authentication .auth-container #left-panel .information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication .auth-container #left-panel .information-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
  color: white;
}

.authentication .auth-container #left-panel .information-container .title .img-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.authentication .auth-container #left-panel .information-container .title .img-container img {
  height: 100px;
}

.authentication .auth-container #left-panel .information-container .description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.authentication .auth-container #left-panel .information-container .description h1 {
  text-align: center;
  font-size: 33px;
}

.authentication .auth-container #left-panel .information-container .description p {
  opacity: 0.8;
  text-align: center;
}

.authentication .auth-container #right-panel {
  -webkit-box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
          box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
  width: 60%;
}

@media (min-width: 710px) {
  .authentication .auth-container #left-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 510px) {
  .authentication .auth-container {
    min-width: 670px;
  }
}

.login-container,
.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  padding: 1em 3em 1em 3em;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.login-container .title,
.register-container .title {
  top: 0;
  color: #264653;
}

.login-container .title h1,
.register-container .title h1 {
  margin: 0.3em 0;
  font-size: 30px;
}

.login-container .title p,
.register-container .title p {
  margin: 0;
}

.login-container .form,
.register-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .form .button-group,
.register-container .form .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1em;
}

.login-container .form .button-group button,
.register-container .form .button-group button {
  width: 40%;
  margin: 2em 0;
}

.login-container .form .button-group a,
.register-container .form .button-group a {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #2a9d8f;
  text-decoration: none;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.dashboard-container .header-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 62px;
  background-color: #e76f51;
}

.dashboard-container .header-dash a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 0.8em;
}

.dashboard-container .header-dash a img {
  height: 35px;
}

.dashboard-container .header-dash a label {
  margin-left: 10px;
  font-size: 20px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dashboard-container .header-dash a label:hover {
  cursor: pointer;
}

.dashboard-container .header-dash nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-container .dashboard-content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 62px;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: "Roboto Condensed", sans-serif;
}

.dashboard-container .dashboard-content .project-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  background-color: #a8dadc36;
}

.dashboard-container .dashboard-content .project-navigation h1 {
  margin: 0 0 1em;
  font-size: 20px;
  color: #264653;
}

.dashboard-container .dashboard-content .project-navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-container .dashboard-content .project-navigation nav a {
  text-decoration: none;
  color: #264653;
  margin: 0.5em 0;
}

.dashboard-container .dashboard-content .SongLibrary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 2em;
  -webkit-animation: fadeInVertical 0.5s;
          animation: fadeInVertical 0.5s;
}

.dashboard-container .dashboard-content .SongLibrary .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a8dadc36;
  margin: 0.7em 0;
  padding: 0.2em;
  border-radius: 2px;
}

.dashboard-container .dashboard-content .SongLibrary .title-container h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #264653;
  font-size: 25px;
  margin: 0 0 0 1em;
}

.dashboard-container .dashboard-content .SongLibrary .song-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.7em;
  margin-top: 1em;
  display: flex;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .song-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.267);
}

.dashboard-container .dashboard-content .SongLibrary .song-list .song-header h3 {
  margin: 0.5em;
  font-size: 18px;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .song-header #half {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .song-header #quarter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.267);
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  font-size: 17px;
  opacity: 0.7;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list a {
  text-decoration: none;
  color: #264653;
  margin: 0;
  padding: 0;
  margin: 0.5em;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list #half {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list #quarter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard-container .dashboard-content .SongLibrary .song-list .list:hover {
  background-color: #a8dadc36;
}

.song-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.song-container .top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e76f51;
  width: 100%;
  height: 62px;
  top: 0;
}

.song-container .top a {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

.song-container .top a span {
  margin-left: 10px;
}

.song-container .song-toolbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 62px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}

.song-container .song-toolbar .firepad-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.song-container .song-toolbar .firepad-controller .Key-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em;
  color: rgba(0, 0, 0, 0.603);
}

.song-container .song-toolbar .firepad-controller .Key-controller label {
  font-size: 13px;
}

.song-container .song-toolbar .firepad-controller .Key-controller .key-display {
  border: 1px solid rgba(128, 128, 128, 0.404);
  font-size: 15px;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0 0.3em;
}

.song-container .song-toolbar .firepad-controller .Transpose-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em;
  color: rgba(0, 0, 0, 0.603);
}

.song-container .song-toolbar .firepad-controller .Transpose-controller label {
  font-size: 13px;
}

.song-container .song-toolbar .firepad-controller .Transpose-controller .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  height: 100%;
}

.song-container .song-toolbar .firepad-controller .Transpose-controller .button-group button {
  border: none;
  height: 100%;
  width: 50px;
  background-color: white;
}

.song-container .song-toolbar .firepad-controller .Transpose-controller .button-group button:hover {
  background-color: #c5c5c5;
}

.song-container .lyric-container {
  position: fixed;
  top: 108px;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: black;
}

.song-container .lyric-container .lyric-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.song-container .lyric-container .lyric-textarea .theory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a8dadc36;
  -webkit-animation: fadeInLeft 0.1s;
          animation: fadeInLeft 0.1s;
  width: 400px;
}

.song-container .lyric-container .lyric-textarea .theory .key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #bdbbbb;
  width: 80%;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container h1 {
  font-size: 20px;
  margin: 4px;
  text-align: center;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list .left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 50% !important;
          flex: 1 1 50% !important;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list .left-panel p {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.644);
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list .vert-sep {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 210px;
  border: 1px solid #bdbbbb;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list .right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 50% !important;
          flex: 1 1 50% !important;
}

.song-container .lyric-container .lyric-textarea .theory .key .key-container .item-list .right-panel p {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.644);
}

.song-container .lyric-container .lyric-textarea .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.song-container .lyric-container .lyric-textarea .text .quill {
  width: 80vh;
  height: 80vh;
}

.displayNone {
  display: none;
}

.sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  border: 1px solid #d4d4d4;
}

.sep-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50%;
  border: 0.1px solid #d4d4d4;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center h1,
.center h2,
.center h3 {
  margin: 0;
}

.center form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center form input {
  margin: 1em 0;
  height: 2em;
}
/*# sourceMappingURL=App.css.map */