@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

@import "./variables";
@import "./animations";

html,
body,
#root,
.App {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Bree Serif", serif;
  
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
  &::-webkit-scrollbar {
    /** WebKit */
    display: none;
  }
}

//HOME PAGE SCSS

.home {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #e98b55 -0.45%, #e76f51 71.18%);
    min-height: 600px;

    .row {
      max-width: 1260px;
      margin: 0 auto;
      width: 100%;
    }

    .header {
      z-index: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        display: flex;
        margin: 5px;
        height: 65px;
        width: 65px;
      }
      nav {
        display: flex;
        flex: 1;
        z-index: 1;
        justify-content: center;
        a {
          margin: 0px 22px;
          text-decoration: none;
          font-size: 20px;
          color: white;
        }
      }
      .button-container {
        display: flex;
        justify-content: flex-end;
        a {
          text-decoration: none;
          font-size: 20px;
          background-color: white;
          color: #e76f51;
          padding: 3px 10px;
          border-radius: 20px;
        }
      }
    }
    .title-container {
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      h2 {
        font-size: 54px;
        letter-spacing: 3px;
        color: white;
        margin: 20px 10px 0 10px;
      }
      .title-description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        p {
          margin-top: 40px;
          text-align: center;
          font-size: 17px;
          letter-spacing: 2px;
          color: white;
        }
      }
      a {
        text-decoration: none;
        font-size: 25px;
        background-color: white;
        color: #e76f51;
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 20px;
      }
    }
    .imageContainer {
      z-index: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px;
      width: 100%;

      .bg-img {
        position: absolute;
        top: 0;
        left: 50%;
      }

      .rays {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      .clouds {
        position: absolute;
        top: 0;
        left: 0;
      }
      #ray1 {
        margin-left: -800px;
        height: 600px;
        width: 1000px;
      }
      #ray2 {
        margin-left: -300px;
        height: 600px;
        width: 1600px;
      }

      #note1 {
        margin-left: -1000px;
        top: 100px;
        width: 222px;
        height: 70px;
        animation: shift-right;
        animation-duration: 140s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      #note2 {
        margin-left: -300px;
        top: 300px;
        width: 222px;
        height: 70px;
        animation: shift-right;
        animation-duration: 800s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #note3 {
        margin-left: -600px;
        top: 400px;
        width: 252px;
        height: 95px;
        animation: shift-right;
        animation-duration: 300s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #note4 {
        margin-left: 300px;
        top: 100px;
        width: 252px;
        height: 95px;
        animation: shift-right;
        animation-duration: 800s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      #cloud1 {
        margin-left: -1000px;
        top: 100px;
        width: 722px;
        height: 500px;
        animation: shift-right;
        animation-duration: 800s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #cloud2 {
        top: 0px;
        margin-left: 0px;
        width: 722px;
        height: 600px;
        animation: shift-right;
        animation-duration: 700s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #tinyCloud1 {
        margin-left: -700px;
        top: 408px;
        height: 10px;
        width: 100px;
        animation: shift-right;
        animation-duration: 230s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #tinyCloud2 {
        top: 208px;
        margin-left: -1000px;
        height: 20px;
        width: 200px;
        animation: shift-right;
        animation-duration: 330s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #tinyCloud3 {
        top: 408px;
        margin-left: -200px;
        height: 25px;
        width: 250px;
        animation: shift-right;
        animation-duration: 400s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #tinyCloud4 {
        top: 495px;
        margin-left: -600px;
        height: 105px;
        width: 300px;
        animation: shift-right;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      #tinyCloud5 {
        top: 35px;
        margin-left: -100px;
        height: 105px;
        width: 300px;
        animation: shift-right;
        animation-duration: 700s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 680px;
    width: 100%;
  }
  .wave-1,
  .wave-2 {
    position: relative;
    display: flex;
  }
  .wave-1 {
    position: relative;
    top: 2px;
    align-items: flex-end;
    img {
      position: relative;

      width: 7000px;
    }
  }
  .wave-2 {
    position: relative;
    bottom: 2px;
    align-items: flex-start;
    img {
      position: relative;

      width: 7000px;
      transform: scaleY(-1);
    }
  }

  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f48b64;
    min-height: 680px;
  }

  .footer-container{
    min-height: 400px;
    background-color: $redsun;
  }
}

//AUTHENTICATION SCSS
.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  background-image: url("../images/Authentication.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .auth-container {
    display: flex;
    justify-content: center;
    min-width: 720px;
    transition: all 0.5s;
    width: 50%;
    max-width: 860px;
    height: 550px;
    #left-panel {
      box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
      display: none;
      background-image: url("../images/AuthCard.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: red;

      width: 40%;
      transition: all 0.5s;
      .information-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 3em 0;
        align-items: center;
        .title {
          display: flex;
          flex-direction: column;
          margin: 0 1em;
          color: white;
          .img-container {
            align-self: center;
            margin: auto;
            a {
              img {
                height: 100px;
              }
            }
          }
        }
        .description {
          align-self: center;
          margin: 0;
          h1 {
            text-align: center;
            font-size: 33px;
          }
          p {
            opacity: 0.8;
            text-align: center;
          }
        }
      }
    }
    #right-panel {
      box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.548);
      transition: all 0.5s;
      background-color: white;
      width: 60%;
    }
    @media (min-width: 710px) {
      #left-panel {
        display: flex;
      }
    }
    @media (min-width: 510px) {
      min-width: 670px;
    }
  }
}
//Login Form
.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 90%;
  padding: 1em 3em 1em 3em;
  animation: fadeIn 0.5s;
  .title {
    top: 0;
    color: $darkgreen;

    h1 {
      margin: 0.3em 0;
      font-size: 30px;
    }
    p {
      margin: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    .button-group {
      display: flex;
      justify-content: space-between;
      margin-right: 1em;
      button {
        width: 40%;
        margin: 2em 0;
      }
      a {
        margin: 0 1em;
        display: flex;
        align-items: center;
        text-align: center;
        color: $lightgreen;
        text-decoration: none;
      }
    }
  }
}

//Dashboard container
.dashboard-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;

  //HEADER DASHBOARD
  .header-dash {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: $header-height;
    background-color: $redsun;
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      margin: 0.8em;
      img {
        height: 35px;
      }
      label {
        margin-left: 10px;
        font-size: 20px;
        color: white;
        align-self: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
    nav {
      display: flex;
      flex: 1 0 auto;
      padding: 1em;
      justify-content: flex-end;
      align-items: center;

      h1 {
        font-size: 22px;
        color: white;
        margin: 0 20px 0 0;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 22px;
        font-family: "Bree Serif", serif;
        color: white;
      }
    }
  }

  .dashboard-content {
    position: fixed;
    display: flex;
    top: 62px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: "Roboto Condensed", sans-serif;
    //ErrorPage
    .error-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .error-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
          text-align: center;
        }
      }
    }

    .project-navigation {
      display: flex;
      padding: 1em;
      flex-direction: column;
      flex: 0 0 240px;
      background-color: $skyblue;
      h1 {
        margin: 0 0 1em;
        font-size: 20px;
        color: $darkgreen;
      }
      nav {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: $darkgreen;
          margin: 0.5em 0;
        }
      }
    }
    .SongLibrary {
      display: flex;
      position: relative;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 2em;
      animation: fadeInVertical 0.5s;
      .title-container {
        display: flex;
        background-color: $skyblue;
        margin: 0.7em 0;
        padding: 0.2em;
        border-radius: 2px;
        h1 {
          flex: 1;
          color: $darkgreen;
          font-size: 25px;
          margin: 0 0 0 1em;
        }
      }
      .song-list {
        display: flex;
        flex-direction: column;
        padding: 0.7em;
        margin-top: 1em;
        display: flex;
        .song-header {
          display: flex;
          width: 100%;
          border-bottom: 2px solid rgba(128, 128, 128, 0.267);
          h3 {
            margin: 0.5em;
            font-size: 18px;
          }
          #half {
            flex: 2;
          }
          #quarter {
            flex: 1;
          }
        }
        .list {
          position: relative;
          display: flex;
          width: 100%;
          border-bottom: 2px solid rgba(128, 128, 128, 0.267);
          h3 {
            display: flex;
            align-items: center;
            margin: 0.5em;
            font-size: 17px;
            opacity: 0.7;
          }
          a {
            text-decoration: none;
            color: $darkgreen;
            margin: 0;
            padding: 0;
            margin: 0.5em;
          }
          #half {
            flex: 2;
          }
          #quarter {
            flex: 1;
          }
          #delete {
            position: absolute;
            right: 30px;
            bottom: 15px;
            cursor: pointer;
          }

          &:hover {
            background-color: $skyblue;
          }
        }
      }
    }
  }
}

//FIREPAD MAIN COMPONENT

.song-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  .top {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: $redsun;
    width: 100%;
    height: 62px;
    top: 0;
    a {
      z-index: 10;
      width: 40%;
      margin-left: 10px;
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      span {
        margin-left: 10px;
      }
    }
    .title {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      color: white;
      flex: 1;
      font-size: 25px;
    }
  }
  .song-toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 62px;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
    button {
      border: none;
      height: 100%;
      width: 50px;
      background-color: white;
      &:hover {
        background-color: rgb(197, 197, 197);
      }
    }

    .firepad-controller {
      display: flex;
      width: auto;
      .Key-controller {
        position: absolute;
        display: flex;
        left: 50px;
        height: 100%;
        align-items: center;
        padding: 0 0.5em;
        color: rgba(0, 0, 0, 0.603);
        label {
          font-size: 13px;
        }
        .key-display {
          text-align: center;
          border: 1px solid rgba(128, 128, 128, 0.404);
          font-size: 15px;
          width: 70px;
          border-radius: 5px;
          margin: 0.5em;
          padding: 0 0.3em;
        }
      }
      .Transpose-controller {
        position: absolute;
        left: 165px;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 0.5em;
        color: rgba(0, 0, 0, 0.603);
        label {
          font-size: 13px;
        }
        .button-group {
          display: flex;
          align-items: center;
          margin-left: 5px;
          height: 100%;
        }
      }
    }
  }

  .lyric-container {
    position: fixed;
    top: 108px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;

    .lyric-textarea {
      display: flex;
      position: relative;
      height: 100%;

      .theory {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: $skyblue;
        border-right: 1px solid rgba(100, 100, 100, 0.281);
        animation: fadeInLeft 0.1s;
        width: 400px;
        .key {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          .key-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid rgb(189, 187, 187);
            width: 80%;
            margin-top: 20px;

            h1 {
              font-size: 20px;
              margin: 4px;
              text-align: center;
            }
            .item-list {
              display: flex;
              .left-panel {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 50% !important;
                p {
                  margin: 5px 0;
                  color: rgba(0, 0, 0, 0.644);
                }
              }
              .vert-sep {
                align-self: center;
                height: 210px;
                border: 1px solid rgb(189, 187, 187);
              }
              .right-panel {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 50% !important;
                .note {
                  margin: 5px 0;
                  color: rgb(81, 175, 238);
                  cursor: pointer;
                }
                p {
                  margin: 5px 0;
                  color: rgb(81, 175, 238);
                  cursor: pointer;
                  &:target {
                    color: red;
                  }
                }
              }
            }
          }
        }
      }

      .text {
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        padding: 10px;
        width: 100%;

        .quill {
          background-color: white;
          .ql-snow {
            .ql-editor {
              padding: 35px 45px;
            }
            border: none;

            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
          }
          min-width: 720px;
          height: 85vh;
        }
      }
    }
  }
}

//MISCELLANEOUS

//remove display
.displayNone {
  display: none;
}

// LINE DIVIDER HORIZONTAL
.sep {
  display: flex;
  align-self: center;
  width: 100%;
  border: 1px solid #d4d4d4;
}

.sep-vertical {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 50%;
  border: 0.1px solid #d4d4d4;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  h1,
  h2,
  h3 {
    margin: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 1em 0;
      height: 2em;
    }
  }
}

// modal

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.568); /* Black w/ opacity */
  animation: fadeInVertical 0.2s;
}

.show {
  display: flex;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: $redsun;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 550px;
  height: 300px;
  h1 {
    margin: 0;
    color: white;
  }
  .close {
    position: absolute;
    align-self: flex-end;
    font-size: 38px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }
  .form {
    display: flex;
    height: 100%;
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

#chart {
  height: 100px;
  width: 100px;
}
